<nav class="navbar">
    <div class="logo" (click)="home()"><span class="name"> <i class="fa-brands fa-grav fa-xl" ></i></span> </div>
    
    
    <div class="menu" id="menu">
        <div class="menu-item dropdown">
            <button  *ngIf="!isAuthenticated"
            (click)="login()">
                Login
            </button>
            <button  *ngIf="!isAuthenticated" (click)="signup()">
            Signup
            </button>
            <button *ngIf="isAuthenticated"
            (click)="Onlogout()">
                Logout
            </button>
        </div>
     
    </div>
</nav>